In [1]:
# Define required libraries
import pandas as pd
import numpy as np

In [2]:
#create data 
# Create a dataframe called "random_data" - 4 cols x 100 row 
random_data = pd.DataFrame(np.random.randint(0,100,size=(100, 4)), columns=list('ABCD'))
random_data.head()

    A   B   C   D
0  72  70  20  56
1  12  65  13  27
2  21  58   8  69
3   6  49  59  61
4  30  92  55  64